In [161]:
import pandas as pd
import inspect

In [162]:
file = open('sql.txt')
line_ctr=0
bNewBlock = False
strSQL = ''
strPrg = ''

lst_line = []
lst_sql  = []
lst_prg  = []

for line in file:
    line_ctr = line_ctr+1
    str_start = 'PROC SQL'
    str_end = 'QUIT;'
    str_prg = 'PROG_NAME'
    len_prg = 10
    
    bStartLine = str_start in line
    bEndLine   = str_end in line
    bPrgLine   = str_prg in line
    
    if bPrgLine:
        strPrg = line[len_prg:]

    if bStartLine:
        bNewBlock=True
        nLineNo = line_ctr
        lst_line.append(line_ctr)
    
    if bNewBlock: 
        #print(line_ctr,line)
        strSQL = strSQL + line #.strip()
    
    if bEndLine: 
        bNewBlock=False
        #print('********\n',nLineNo,strSQL)
        strSQL = strSQL\
                .replace("\n",' ')\
                .replace("\t",'')\
                .replace('    ',' ')
        lst_sql.append(strSQL)
        strSQL = ''
        
        strPrg = strPrg.replace("\n",' ')
        lst_prg.append(strPrg)
        #strPrg = ''
        
lst_sql

['PROC SQL  CREATE TABLE TARGET1 SELECT FIELD1 FROM SOURCE1, SOURCE2 WHERE X=Y1 AND 1=2 QUIT; ',
 'PROC SQL  CREATE TABLE TARGET2 SELECT FIELD2 FROM SOURCE2,  SOURCE3 WHERE X=Y2 AND 1=2 QUIT; ',
 'PROC SQL  CREATE TABLE TARGET3 SELECT FIELD3 FROM SOURCE3 WHERE X=Y3 AND 1=2 QUIT; ',
 'PROC SQL  CREATE TABLE TARGET4 SELECT FIELD4 FROM SOURCE4 WHERE X=Y4 AND 1=2 QUIT; ',
 'PROC SQL  CREATE TABLE TARGET5 SELECT FIELD5 FROM SOURCE5 WHERE X=Y5 AND 1=2 QUIT; ',
 'PROC SQL  CREATE TABLE TARGET6 SELECT FIELD6 FROM SOURCE6 WHERE X=Y6 AND 1=2 QUIT; ',
 'PROC SQL  CREATE TABLE TARGET7 SELECT FIELD7 FROM SOURCE7 WHERE X=Y7 AND 1=2 QUIT; ']

In [163]:
lstSource = []
lstTarget = []

for strSql in lst_sql:
    posTable  = strSql.find('TABLE')
    posSelect = strSql.find('SELECT')
    posFrom   = strSql.find('FROM')
    posWhere  = strSql.find('WHERE')

    strTarget = strSql[int(posTable)+5:int(posSelect)]
    strSource = strSql[int(posFrom)+4:int(posWhere)]
    
    lstSource.append(strSource)
    lstTarget.append(strTarget)

In [164]:
lstSource

[' SOURCE1, SOURCE2 ',
 ' SOURCE2,  SOURCE3 ',
 ' SOURCE3 ',
 ' SOURCE4 ',
 ' SOURCE5 ',
 ' SOURCE6 ',
 ' SOURCE7 ']

In [165]:
lstTarget

[' TARGET1 ',
 ' TARGET2 ',
 ' TARGET3 ',
 ' TARGET4 ',
 ' TARGET5 ',
 ' TARGET6 ',
 ' TARGET7 ']

In [166]:
lst_prg

['PROG1 ', 'PROG1 ', 'PROG1 ', 'PROG1 ', 'PROG1 ', 'PROG2 ', 'PROG2 ']

In [167]:
df = pd.DataFrame(list(zip(lst_prg, lst_line, lstTarget, lstSource, lst_sql)),
                 columns=['ProgramName', 'LineNum', 'TargetTable', 'SourceTable', 'SQL'])
df.head(10)

,ProgramName,LineNum,TargetTable,SourceTable,SQL
0,PROG1,2,TARGET1,"SOURCE1, SOURCE2",PROC SQL CREATE TABLE TARGET1 SELECT FIELD1 F...
1,PROG1,14,TARGET2,"SOURCE2, SOURCE3",PROC SQL CREATE TABLE TARGET2 SELECT FIELD2 F...
2,PROG1,27,TARGET3,SOURCE3,PROC SQL CREATE TABLE TARGET3 SELECT FIELD3 F...
3,PROG1,39,TARGET4,SOURCE4,PROC SQL CREATE TABLE TARGET4 SELECT FIELD4 F...
4,PROG1,51,TARGET5,SOURCE5,PROC SQL CREATE TABLE TARGET5 SELECT FIELD5 F...
5,PROG2,64,TARGET6,SOURCE6,PROC SQL CREATE TABLE TARGET6 SELECT FIELD6 F...
6,PROG2,76,TARGET7,SOURCE7,PROC SQL CREATE TABLE TARGET7 SELECT FIELD7 F...

In [168]:
df.to_csv('result.csv', index=False)

## Misc Testing

In [169]:
str = 'PROG_NAME=PROGRAM_1'
str[10:]

'PROGRAM_1'