In [2]:
import numpy as np
import pandas as pd

In [9]:
import pandas as pd

df = pd.read_csv('~/data/moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [3]:
df = pd.read_csv('/home/pabhijit/data/smsspamcollection.tsv', sep='\t')

In [4]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

- This is a labeled dataset with label (ham/spam), the message text, length of message and number of punctuations.
- For this task We will ignore feature extraction steps from the text and make use of the given numerical feature length, punct for our modeling.
- At a later task we will explore Text Feature extraction and create separate model.

In [5]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [6]:
# Let's check what are the unique values
df['label'].unique()

array(['ham', 'spam'], dtype=object)

In [8]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64